.auth {
  background-color: rgba($primary-color, 0.5);
  position: relative;
  height: 100vh;
  overflow: hidden;
  &-left {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
  }
  &-right {
    top: 0;
    right: 0;
    position: absolute;
    height: 100%;
    width: 60%;
    background-color: white;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
  }
  &-header {
    font-size: 42px;
    font-weight: bold;
    margin-top: 131px;
    margin-left: 125px;
  }
  &-container {
    padding: 77px 125px;
    display: flex;
  }
  &-image {
    width: 679px;
    height: 782px;
    transform: translate(50px, -50px);
  }
}
