body {
  line-height: 1;
  font-family: $font;
  color: $text-color;
  font-weight: 400;
}

.app {
  margin: 50px 120px 0 120px;
}

.btn {
  width: auto;
  display: inline-block;
  background-color: $primary-color;
  color: white;
  padding: 17px 65px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 500;

  &-primary {
    box-shadow: 0px 20px 40px rgba(243, 114, 44, 0.2);
  }

  &-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 32px;
    height: 32px;
    background-color: black;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
  }

  &-signin {
    padding: 12px 41px;
    margin-left: 15px;
    font-size: 20px;
  }

  &-order {
    padding: 6px 15px;
    font-size: 20px;
  }
}

.title {
  font-weight: 600;
  font-size: 52px;
  line-height: 78px;
}

.description {
  font-size: 24px;
  line-height: 36px;
  opacity: 0.5;
  margin-bottom: 70px;
}

.logo {
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 45px;
}
