$font: "Popins", sans-serif;
$text-color: #414141;
$primary-color: #ff4415;
$gradient-color: linear-gradient(134.06deg, #fd6e6a 5.45%, #ffc600 93.63%);
$gray-color: #c7c7c7;
$footer-color: #f8f8f8;
$secondary-color: #36bd59;
